<% layout('layouts/boilerplate')%>
    <h1>Login</h1>
    <form class="needs-validation" action="/login" method="POST" novalidate>
        <div class="mb-4">
            <label for="username" class="form-label">Username</label>
            <input class="form-control" type="text" id="username" name="username" placeholder="username" required>
        </div>
        <div class="mb-4">
            <label for="password" class="form-label">password</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="password" required>
        </div>
        <button class="btn btn-success">Login</button>
    </form>
